.users-items{
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
}
.item{
    padding: 7px;
    text-align: left;
    /* flex-basis: 180px; */
    width: 180px;
}
.bg-gray{ background: #eee;}

.filter-bar{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    padding: 14px 0 0;
}